<div class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h2 style="text-align: center;">Chỉnh sửa ảnh mô tả khóa học</h2>
                <form>
                    <div class="form-group">
                        <label for="formFile" class="form-label">Ảnh đại diện khóa học</label>
                        <input class="form-control" type="file" id="formFile" onchange="preview()">
                    </div>
                    <img id="frame" src="" class="img-fluid" />
                    <hr />
                    <div class="form-group">
                        <label for="formFile1" class="form-label">Thêm ảnh mô tả khóa học</label>
                        <input class="form-control" type="file" id="formFile1" onchange="preview1()">
                    </div>
                    <img id="frame1" src="" class="img-fluid" />
                </form>
            </div>

            <div class="col-lg-9">
                <form method="POST" action="/teacher/{{courses._id}}?_method=PUT">
                    <h1 style="text-align: center;">Chỉnh sửa thông tin khóa học</h1>
                    <div class="form-group">
                        <label for="course-name">Tên khóa học</label>
                        <input type="text" class="form-control" id="course-name" name="name" value="{{courses.name}}" placeholder="Tên khóa học">
                    </div>
                    <div class="form-group">
                        <label for="course-teacher" class="label">Giảng viên</label>
                        <input type="text" class="form-control" id="course-teacher" name="teacher" value="{{courses.teacher}}" placeholder="Giảng viên">
                    </div>
                    <div class="form-group">
                        <label for="course-image" class="label">Ảnh mô tả khóa học</label>
                        <input type="text" class="form-control" id="course-image" value="{{courses.image}}" name="image" placeholder="Link hình ảnh mô tả khóa học">
                    </div>
                    <div class="form-group">
                        <label for="course-subject" class="label">Lĩnh vực</label>
                        <input type="text" class="form-control" id="course-subject" value="{{courses.subject}}" name="subject" placeholder="Lĩnh vực">
                    </div>  
                    {{!-- <div class="form-group">
                        <label for="course-subject" class="label">Lĩnh vực</label>
                        <select name="subject" id="course-subject" class="form-control">
                            <option value="">Công nghệ</option>
                            <option value="">Y tế</option>
                            <option value="">Giáo dục</option>
                            <option value="">Ngôn ngữ</option>
                            <option value="">Thiết kế</option>
                            <option value="">Nhiếp ảnh</option>
                        </select>
                    </div> --}}
                    <div class="form-group">
                        <label for="course-cost" class="label">Giá khóa học ($)</label>
                        <input type="number" class="form-control" id="course-cost" value="{{courses.cost}}" name="cost" placeholder="Giá khóa học">
                    </div>
                    <div class="form-group">
                        <label for="course-date" class="label">Thứ trong tuần</label>
                        <input type="text" class="form-control" name="date" id="course-date" value="{{courses.date}}" placeholder="Nhập thứ trong tuần">
                    </div>

                    <div class="form-group">
                        <span class="w-50 p-4">
                            <label for="lastdate">Ngày đăng ký cuối cùng: </label>
                            <input type="date" id="lastdate" name="dateEnd">
                        </span>
                        <span class="w-50 p-4">
                            <label for="opening-date">Ngày khai giảng: </label>
                            <input type="date" id="opening-date" name="dateStart">
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="course-description">Mô tả khóa học</label>
                        <textarea class="form-control" name="description" id="course-description">{{courses.description}}</textarea>
                    </div>

                    <div class="form-group">
                        <label for="course-payment">Phương thức thanh toán</label>
                        <select name="payment" id="course-payment" class="form-control">
                            <option value="">Momo</option>
                            <option value="">ZaloPay</option>
                        </select>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Xác nhận thông tin khóa học</label>
                    </div>

                    <button type="submit" class="btn btn-success btn-block my-3">Xác nhận chỉnh sửa</button>
                </form>
            </div>
        </div>
    </div>
</div>