<div class="container">
    <div class="mt-4">
        <h1 class="courses-title">Đây là tất cả khóa học của bạn</h1>
        <hr>
        <div class="row">

            {{#each courses}}
            <div class="col-sm-6 col-lg-4">
                <div class="card card-course-item">
                    <a href="#">
                        <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <h5 class="card-title">{{this.name}}</h5>
                        </a>
                        <p class="card-text">{{this.description}}</p>
                        <a href="/teacher/edit/{{this._id}}" class="btn btn-primary">Chỉnh sửa</a>
                        <a href="#" class="btn btn-primary btn-tinhtrang">{{this.status}}</a>
                        <div class="btn btn-primary btn-block my-3">Tham gia</div>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>