<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<style>
  .checked { color: orange; }
</style>

<div
  style="position: absolute;
width: 400px;
height: 500px;
left: 200px;
top: 175px;"
>
  <img src="../../../assets/images/Math-Hinhhoc12.png" alt="Math1" />
</div>

<div
  style="display: flex;
width:1000px;
flex-direction: column;
align-items: flex-start;
position: absolute;
left: 550px;
top:150px"
>
  <div
    style="position: static;
font-size:30px; 
left: 0px;
flex: none;
order: 0;
flex-grow: 0;"
  >
    <p>{{name}}<br />Giảng viên: {{teacherName}}</p>
  </div>
  <div
    style="position: static;
font-size:23px; 
left: 0px;
flex: none;
order: 1;
flex-grow: 0;"
  >
    <p><b>
        Tuần bắt đầu: {{dateStart}}
        <br />
        Hạn chót đăng ký: {{deadDateEnroll}}</b></p>
  </div>
  <div
    style="position: static;
font-size:20px; 
left: 0px;
flex: none;
order: 2;
flex-grow: 0;"
  >
    <div style="display: flex;">
      <div>
        <span class="fa fa-star checked" style="font-size: 35px;"></span>
        <span class="fa fa-star checked" style="font-size: 35px;"></span>
        <span class="fa fa-star checked" style="font-size: 35px;"></span>
        <span class="fa fa-star checked" style="font-size: 35px;"></span>
        <span class="fa fa-star checked" style="font-size: 35px;"></span>
        <span><p>200 lượt đánh giá</p></span>
      </div>
      <div style="padding-left: 30px;">Đã đăng ký: {{numberOfStudentCurrent}}/{{numberOfStudent}}</div>
    </div>
  </div>
  <div
    style="position: static;
left: 0px;
flex: none;
order: 3;
flex-grow: 0;"
  >
    <div style="display: flex;">
      <div>
        <p style="font-size: 35px;"><b>{{cost}} đ</b></p>
      </div>
      <div style="padding-left: 50px;">
        <button
        class="btn btn-danger"
        style="height: 4rem; width: 9rem; font-size: 20px;"
          {{!-- style="
        font-size:30px;
        color:white;
        background-color: #B12704;" --}}
        
        >
        <a style="text-decoration: none; color:white;" href="/payment?id={{id}}">Đăng ký
        </a>
        </button>
      </div>
    </div>
  </div>
</div>