<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div
  style="margin-left: 80px;
          padding-top:100px;"
>
  <p
    style="font-style: normal;
            font-weight: normal;
            font-size: 16px;"
  >1-5 of over 50 results for "Toán"</p>
</div>

<div
  style="   display: flex;
            font-size: 16px;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            position: absolute;
            width: 230px;
            height: 390px;
            left: 80px;
            top: 150px;
            background: #FFFFFF;
            "
>
  <div
    style="display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding: 0px;
              position: absolute;
              width: 239px;
              height: 183px;
              left: 0px;
              top: 0px;
              flex: none;
              order: 0;
              flex-grow: 0;
              margin: 12px 0px;"
  >
    <div
      style="position: static;
                width: 250px;
                height: 22px;
                left: 0px;
                top: 0px;
                line-height: 23px;
                display: flex;
                align-items: center;
                color: #000000;
                flex: none;
                order: 0;
                flex-grow: 0;
                margin: 4px 0px;"
    >
      <p><b>Lọc theo môn học</b></p>
    </div>
    <div
      style="style=position: static;
                  width: 250px;
                  height: 16px;
                  left: 0px;
                  flex: none;
                  order: 1;
                  flex-grow: 0;
                  margin: 4px 0px;"
    >
      <input type="checkbox" id="Sub1" name="Sub1" value="Math" />
      <label for="Sub1" style="font-family: ABeZee;"> Toán</label><br />
    </div>
    <div
      style="position: static;
              width: 250px;
              height: 16px;
              left: 0px;
              flex: none;
              order: 2;
              flex-grow: 0;
              margin: 4px 0px;"
    >
      <input type="checkbox" id="Sub2" name="Sub2" value="Physics" />
      <label for="Sub2" style="font-family: ABeZee;"> Vật lý</label><br />
    </div>
    <div
      style="position: static;
              width: 250px;
              height: 16px;
              left: 0px;
              flex: none;
              order: 3;
              flex-grow: 0;
              margin: 4px 0px;"
    >
      <input type="checkbox" id="Sub3" name="Sub3" value="Chemistry" />
      <label for="Sub3" style="font-family: ABeZee;"> Hóa học</label><br />
    </div>
    <div
      style="position: static;
              width: 250px;
              height: 16px;
              left: 0px;
              flex: none;
              order: 4;
              flex-grow: 0;
              margin: 4px 0px;"
    >
      <input type="checkbox" id="Sub4" name="Sub4" value="SoftSkill" />
      <label for="Sub4" style="font-family: ABeZee;"> Kỹ năng mềm</label><br />
    </div>
    <div
      style="position: static;
              width: 250px;
              height: 16px;
              left: 0px;
              flex: none;
              order: 5;
              flex-grow: 0;
              margin: 4px 0px;"
    >
      <input type="checkbox" id="Sub5" name="Sub5" value="Art" />
      <label for="Sub5" style="font-family: ABeZee;"> Mỹ thuật</label><br />
    </div>
    <div
      style="position: static;
              width: 250px;
              height: 16px;
              left: 0px;
              flex: none;
              order: 6;
              flex-grow: 0;
              margin: 4px 0px;"
    >
      <input type="checkbox" id="Sub6" name="Sub6" value="Music" />
      <label for="Sub6" style="font-family: ABeZee;"> Thanh nhạc</label><br />
    </div>
    <div
      style="position: static;
              width: 250px;
              height: 16px;
              left: 0px;
              flex: none;
              order: 7;
              flex-grow: 0;
              margin: 4px 0px;"
    >
      <input type="checkbox" id="Sub7" name="Sub7" value="Code" />
      <label for="Sub7" style="font-family: ABeZee;"> Lập trình</label><br />
    </div>
    <div
      style="display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  padding: 0px;

                  position: static;
                  width: 250px;
                  height: 16px;
                  left: 0px;
                  flex: none;
                  order: 8;
                  flex-grow: 0;
                  margin: 4px 0px;"
    >
      <i
        class="fa fa-chevron-down"
        style="position: static;
          width: 12px;
          height: 12px;
          font-size:12px;
          left: 0px;
          flex: none;
          order: 0;
          flex-grow: 0;
          margin: 0px 4px;"
      >
      </i>
      <p
        style="position: static;
                  width: 234px;
                  height: 16px;
                  left: 16px;
                  line-height: 16px;
                  display: flex;
                  align-items: center;
                  color: #007185;
                  flex: none;
                  order: 1;
                  flex-grow: 0;
                  margin: 0px 4px;"
      >See more
      </p>
    </div>
  </div>
  <div
    style="display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding: 0px;
              position: static;
              width: 239px;
              height: 117px;
              left: 0px;
              padding-top: 230px;
              flex: none;
              order: 1;
              flex-grow: 0;
              margin: 12px 0px;"
  >
    <div
      style="position: static;
              width: 250px;
              height: 22px;
              left: 0px;
              line-height: 23px;
              display: flex;
              align-items: center;
              color: #000000;
              flex: none;
              order: 0;
              flex-grow: 0;
              margin: 4px 0px;"
    >
      <p><b>Lọc theo giá</b></p>
    </div>
    <div
      style="position: static;
                width: 250px;
                height: 16px;
                left: 0px;
                top: 26px;
                flex: none;
                order: 1;
                flex-grow: 0;
                margin: 4px 0px;"
    >
      <input type="checkbox" id="Cost1" name="Cost1" value="Cost1" />
      <label for="Cost1">
        100.000 - 500.000đ</label>
    </div>
    <div
      style="position: static;
                width: 250px;
                height: 16px;
                left: 0px;
                flex: none;
                order: 2;
                flex-grow: 0;
                margin: 4px 0px;"
    >
      <input type="checkbox" id="Cost2" name="Cost2" value="Cost2" />
      <label for="Cost2">
        500.000 - 1.000.000đ</label>
    </div>
    <div
      style="position: static;
                width: 250px;
                height: 16px;
                left: 0px;
                flex: none;
                order: 3;
                flex-grow: 0;
                margin: 4px 0px;"
    >
      <input type="checkbox" id="Cost3" name="Cost3" value="Cost3" />
      <label for="Cost3">
        1.000.000 - 5.000.000đ</label>
    </div>
    <div
      style="position: static;
                width: 250px;
                height: 16px;
                left: 0px;
                flex: none;
                order: 4;
                flex-grow: 0;
                margin: 4px 0px;"
    >
      <input type="checkbox" id="Cost4" name="Cost4" value="Cost4" />
      <label for="Cost4">
        >5.000.000đ</label>
    </div>
  </div>
</div>

<div
  style="
  width:1000px;
  height:500px;
font-size: 18px;
display: flex;
flex-direction: column;
align-items: flex-start;
position: absolute;
left: 550px;
top: 100px;
overflow-y:scroll;
overflow-x:hidden;
"
>
{{#if msg}}
<div class="mb-5"></div>
<h2>{{msg}}</h2>
{{/if}}
  {{#each course}}
    <div 
    style="position: relative;height: 160px;left: 0px;flex: none;order: 0;flex-grow: 0;"
    >
      <img
        src="/assets/images/{{imagePath}}"
        alt="Math"
        style="position: absolute;height: 150px;left: 0px;top: 0px;"
      />
      <div 
      style=" display: flex;flex-direction: column;align-items: flex-start;padding: 0px;position: absolute;width: 1000px;height: 150px;left: 200px;top: 10px;"
      >
        <div
          style="position: static;height:25px;left: 0px;display: flex;align-items: center;color: #18191A;flex: none;order: 0;flex-grow: 0;margin: 8px 0px;"
        >
          <p>{{name}}</p>
        </div>
        <div
          style="position: static;
        height:25px;left: 0px;display: flex;align-items: center;color: #B12704;flex: none;order: 1;flex-grow: 0;margin: 8px 0px;"
        >
          <p><b>Chi phí khóa học: {{cost}}đ</b></p>
        </div>
        <div
          style="position: static;
height: 25px;
left: 0px;
display: flex;
align-items: center;

flex: none;
order: 2;
flex-grow: 0;
margin: 8px 0px;"
        >
          <button style="size:30px;color:white;background-color: #B12704;">
            <a href="/course_detail?id={{_id}}"
              style="text-decoration: none; color:white;"
              
            >Đăng ký</a>
          </button>
        </div>
      </div>
    </div>
    <div class="mb-4"></div>
  {{/each}}
  {{! 
  <div
    style="position: static;
height: 160px;
left: 0px;
flex: none;
order: 1;
flex-grow: 0;"
  >
    <img
      src="../../../assets/images/Math-Giaitich12.png"
      alt="Math2"
      style="position: absolute;
width: 125px;
height: 150px;
left: 0px;
top: 180px;"
    />
    <div
      style="
    display: flex;
    top:190px;
flex-direction: column;
align-items: flex-start;
position: absolute;
width: 1000px;
height: 150px;
left: 200px;"
    >
      <div
        style="position: static;
        height:25px;
left: 0px;
display: flex;
align-items: center;
color: #18191A;
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;"
      >
        <p>Giải tích 12 - Từ cơ bản đến nâng cao</p>
      </div>
      <div
        style="position: static;
        height:25px;
left: 0px;
display: flex;
align-items: center;
color: #B12704;
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;"
      >
        <p><b>Chi phí khóa học: 1.500.000đ</b></p>
      </div>
      <div
        style="position: static;
height: 25px;
left: 0px;
display: flex;
align-items: center;

flex: none;
order: 2;
flex-grow: 0;
margin: 8px 0px;"
      >
        <button style="size:30px;color:white;background-color: #B12704;">Đăng ký</button>
      </div>
    </div>
  </div>
  <div
    style="position: static;
height: 160px;
left: 0px;
flex: none;
order: 2;
flex-grow: 0;"
  >
    <img
      src="../../../assets/images/Math-DSTT.png"
      alt="Math2"
      style="position: absolute;
width: 125px;
height: 150px;
left: 0px;
top: 360px;"
    />
    <div
      style="
    display: flex;
flex-direction: column;
align-items: flex-start;
top:370px;
position: absolute;
width: 1000px;
height: 150px;
left: 200px;"
    >
      <div
        style="position: static;
        height:25px;
left: 0px;
display: flex;
align-items: center;
color: #18191A;
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;"
      >
        <p>Chinh phục Đại số tuyến tính</p>
      </div>
      <div
        style="position: static;
        height:25px;
left: 0px;
display: flex;
align-items: center;
color: #B12704;
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;"
      >
        <p><b>Chi phí khóa học: 1.800.000đ</b></p>
      </div>
      <div
        style="position: static;
height: 25px;
left: 0px;
display: flex;
align-items: center;

flex: none;
order: 2;
flex-grow: 0;
margin: 8px 0px;"
      >
        <button style="size:30px;color:white;background-color: #B12704;">Đăng ký</button>
      </div>
    </div>
  </div>
  <div
    style="position: static;
height: 160px;
left: 0px;
flex: none;
order: 3;
flex-grow: 0;"
  >
    <img
      src="../../../assets/images/Math-VTP1b.png"
      alt="Math2"
      style="position: absolute;
width: 125px;
height: 150px;
left: 0px;
top: 540px;"
    />
    <div
      style="
    display: flex;
flex-direction: column;
align-items: flex-start;
top:550px;
position: absolute;
width: 1000px;
height: 150px;
left: 200px;"
    >
      <div
        style="position: static;
        height:25px;
left: 0px;
display: flex;
align-items: center;
color: #18191A;
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;"
      >
        <p>Thông thạo Vi tích phân 1B</p>
      </div>
      <div
        style="position: static;
        height:25px;
left: 0px;
display: flex;
align-items: center;
color: #B12704;
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;"
      >
        <p><b>Chi phí khóa học: 2.500.000đ</b></p>
      </div>
      <div
        style="position: static;
height: 25px;
left: 0px;
display: flex;
align-items: center;

flex: none;
order: 2;
flex-grow: 0;
margin: 8px 0px;"
      >
        <button style="size:30px;color:white;background-color: #B12704;">Đăng ký</button>
      </div>
    </div>
  </div>
  <div
    style="position: static;
height: 160px;
left: 0px;
flex: none;
order: 4;
flex-grow: 0;"
  >
    <img
      src="../../../assets/images/Math-GiaiTich1.png"
      alt="Math2"
      style="position: absolute;
width: 125px;
height: 150px;
left: 0px;
top: 720px;"
    />
    <div
      style="
    display: flex;
flex-direction: column;
align-items: flex-start;
top:730px;
position: absolute;
width: 1000px;
height: 150px;
left: 200px;"
    >
      <div
        style="position: static;
        height:25px;
left: 0px;
display: flex;
align-items: center;
color: #18191A;
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;"
      >
        <p>Cùng học Giải tích </p>
      </div>
      <div
        style="position: static;
        height:25px;
left: 0px;
display: flex;
align-items: center;
color: #B12704;
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;"
      >
        <p><b>Chi phí khóa học: 3.000.000đ</b></p>
      </div>
      <div
        style="position: static;
height: 25px;
left: 0px;
display: flex;
align-items: center;

flex: none;
order: 2;
flex-grow: 0;
margin: 8px 0px;"
      >
        <button style="size:30px;color:white;background-color: #B12704;">Đăng ký</button>
      </div>
    </div>
  </div> }}
</div>