<div class="container">
    <div class="sec-title">
        <h1>DASHBOARD</h1>
        <h2>by HTV corporation</h2>
    </div>

    <div id="main-content" class="container">
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div id="sec-1">
                        <div class="row">
                            <div class="col">
                                <div class="box">
                                    <img src="/assets/images/icon-course.png" alt="" class="icon-1">
                                    <div class="group-1">
                                        <h1>{{totalCourse}}</h1>
                                        <p>Total Course</p>
                                        <img src="/assets/images/icon-trending-up.png">
                                        <span>{{incCourse}}</span>
                                        <span>&ThinSpace;This month</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box">
                                    <img src="/assets/images/icon-student.png" alt="" class="icon-1">
                                    <div class="group-1">
                                        <h1>{{totalStudent}}</h1>
                                        <p>Total student</p>
                                        <img src="/assets/images/icon-trending-up.png">
                                        <span>{{incStudent}}</span>
                                        <span>&ThinSpace;This month</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box">
                                    <img src="/assets/images/icon-teacher.png" alt="" class="icon-1">
                                    <div class="group-1">
                                        <h1>{{totalTeacher}}</h1>
                                        <p>Total teacher</p>
                                        <img src="/assets/images/icon-trending-up.png">
                                        <span>{{incTeacher}}</span>
                                        <span>&ThinSpace;This month</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="sec-2">
                            <div class="box">
                                <div id="group-2-1" class="group-2">
                                    <h1>Incomme per month</h1>
                                    <p><span id="MonthBefore"> </span>&nbsp; - &nbsp;<span id="monthNow">{{monthNow}}</span> </p>
                                </div>
                                <div id="group-2-2" class="group-2 group-2-2">
                                    <p>This month</p>
                                    <h1>{{incomeNow}}</h1>
                                </div>
                                <div id="group-2-3" class="group-2 group-2-2">
                                    <p>Same period last year</p>
                                    <h1>{{incomeLastyear}}</h1>
                                </div>
                                <canvas id="myChart" style="width:200px ;height:100px"></canvas>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div id="sec-3">
                    <div class="box">

                        <div id="group-3-0" class="group-3">
                            <h1>Top Subject</h1><br>
                            <p>{{totalSubject}} subjects, {{totalCourse}} Courses</p>
                        </div>

                        <div class="table">
                            {{#each topCourses}}
                            <div id="group-3-0" class="group-3">
                                <h1>{{name}}</h1><span class="tag-count">{{total}}</span><br>
                                <p>{{subject}}</p><span class="tag-inc">+{{inc}}</span>
                            </div>                            
                            {{/each}}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="dataNow" style="display: none;">{{dataNow}}</div>
    <div id="dataLastYear" style="display: none;">{{dataLastYear}}</div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>