<div class="container">

    <div class="sec-title">
        <p id="title">Search</p>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
                <img src="/assets/images/icon-search.png">
            </span>
            <input type="text" class="form-control" placeholder="FIND ITEMS" id="search">
        </div>
        <button id="btn-stat">Search</button>
        <script>
            var choose = $('#fram-1').css('display')!='none'?'course':'teacher';
            $('#btn-stat').click(function (e) {
                let form;
                if (choose=='course') {
                    document.getElementById()
                    form = FormData()
                }
                // data.
            })
        </script>
    </div>

    <form id="form1">
        <div id="fram-1" style="display: none;">
            <div id="main-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Course</th>
                            <th class="text-center">Teacher</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each courses}}
                        <tr>
                            <td>
                                <img class="icon-sub" style="background-image: url(/assets/images/{{imgCourse}}.jpg)">
                                {{name}}
                            </td>
                            <td>
                                <img class="icon-tea"
                                    style="background-image: url(/assets/images/{{imgTeacher}}.jpg);background-size: 67px">
                                {{teacher}}
                            </td>
                            <td><img class="icon-status" src="/assets/images/active.png"></td>
                            <td>{{date}}</td>
                            <td>
                                <div>
                                    <img src="/assets/images/icon-action-info.png ">
                                    <img src="/assets/images/icon-action-block.png ">
                                    <img src="/assets/images/icon-action-delete_forever.png ">
                                </div>
                            </td>
                        </tr>
                        {{/each}}


                    </tbody>
                </table>


            </div>
            <div class="box-sort">
                <select class="form-select" aria-label="Default select example">
                    <option selected style="display: none;">Sort by</option>
                    <option value="1">Course</option>
                    <option value="2">Teacher</option>
                    <option value="3">Status</option>
                    <option value="3">Date</option>
                </select>
            </div>
            <div class="box-radio">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Course
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Teacher
                    </label>
                </div>
            </div>
            <div class="box-select">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Math
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Physics
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        AI
                    </label>
                </div>
            </div>
        </div>
    </form>

    <form id="form2">
        <div id="fram-2">
            <div id="main-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Teacher</th>
                            <th class="text-center">Rating</th>
                            <th class="text-center">University</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each teachers}}

                        <tr>
                            <td>
                                <img class="icon-tea"
                                    style="background-image: url(/assets/images/teacher1.jpg);background-size: 67px">
                                {{name}}
                            </td>
                            <td class="text-center">{{rating}}</td>
                            <td class="text-center">{{degree}}</td>
                            <td class="text-center"><img class="icon-status" src="/assets/images/active.png"></td>
                            <td>
                                <div>
                                    <img src="/assets/images/icon-action-info.png ">
                                    <img src="/assets/images/icon-action-block.png ">
                                    <img src="/assets/images/icon-action-delete_forever.png ">
                                </div>
                            </td>
                        </tr>
                        {{/each}}



                    </tbody>
                </table>


            </div>
            <div class="box-sort">
                <select class="form-select" aria-label="Default select example">
                    <option selected style="display: none;">Sort by</option>
                    <option value="1">Teacher name</option>
                    <option value="2">Rating</option>
                    <option value="3">University</option>
                    <option value="4">Status</option>

                </select>
            </div>
            <div class="box-radio">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Course
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Teacher
                    </label>
                </div>
            </div>
            <div class="box-select">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Math
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Physics
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        AI
                    </label>
                </div>
            </div>
        </div>
    </form>

    {{> pagination }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
</div>